body {
  font-family: Helvetica;
  color: #333;
  background-color: #eee;
  font-size: 20px;
  line-height: 1.75;
  font-weight: 100;
}

/* Keep content centered */
article, section, hr {
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

/* Lay out nav bar using flex-box */
nav {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

hr {
  border: 1px solid rgb(182, 182, 182);
  border-radius: 14px;
}

h3 {
  /* text-decoration: underline; */
  font-size: 1.7rem;
}

ul {
  list-style: circle;
}

a {
  color: #090;
  text-decoration: none;
}

/* Subtle animation when hovering over any anchor tags */
a:hover {
  color: tomato;
  transition: all ease 0.2s;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
}

li:nth-child(even) {
  background-color: rgba(221, 221, 221, 0.324);
  border-radius: 7px;
}

li:nth-child(odd) {
  background-color: #ddd;
  border-radius: 7px;
}

/* Flex-box to spread text out with space-between */
.education_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon_text_container {
  display: flex;
  align-items: center;
}

.icon {
  height: 3.5em;
  margin-right: 15px;
  border-radius: 7px;
}

ul {
  padding: 0;
}

small {
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.connect_links_container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.3rem;
}

figure {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 0;
  margin-right: 0;
}

figure > img {
  height: 15rem;
  width: 15rem;
  transition: all ease 0.2s;
  border-radius: 20px;
}

/* Subtle animation when hovering over image */
figure > img:hover {
  transform: scale(1.04);
  border-radius: 0;
}



/* only split about section Left and Right if not on mobile. Else, stack text and photo. */
@media screen and (min-width: 530px) {
  .about_content_container {
    display: flex;
    justify-content: space-between;
  }
  
  .about_content_container > div {
    width: 50%;
  }
}

/* Keep the left and right margins existent and responsive when screen size shrinks */
@media screen and (max-width: 900px) {
  article, section, hr {
    max-width: 80%;
  }
}